<section>
    <!-- customer menu -->
    <div class="border-top border-bottom p-3">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/cart">Your cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/customer/purchases">Your purchases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/customer/recipe">Send a recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/logout">Logout</a>
            </li>
        </ul>
    </div>

</section>