<!-- hero background image -->
<div class="bg-hero">
    <img src="/images/bg.jpg" alt="background coffee image" class="img-fluid d-md-block">
</div>

<!-- coffee categories section -->
<section id="products">
    <div class="container mt-5 mx-auto">
        <div class="row row-cols-1 row-cols-md-3 g-0">
            <div class="col">
                <div class="card h-100 position-relative card-border">
                    <img src="/images/ground.jpg" class="card-img-top h-100" alt="ground coffee image">
                    <div class="card-img-overlay p-0">
                        <a href="/products"
                            class="btn btn-outline-secondary position-absolute top-0 start-50 translate-middle-x mt-5">Ground Coffee</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 position-relative card-border">
                    <img src="/images/bean.jpg" class="card-img-top h-100" alt="whole bean coffee image">
                    <div class="card-img-overlay p-0">
                        <a href="#"
                            class="btn btn-outline-secondary position-absolute top-0 start-50 translate-middle-x mt-5">Whole Bean</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 position-relative card-border">
                    <img src="/images/capsules.jpg" class="card-img-top h-100" alt="coffee capsules image">
                    <div class="card-img-overlay p-0">
                        <a href="#"
                            class="btn btn-outline-secondary position-absolute top-0 start-50 translate-middle-x mt-5">Capsule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- stores and maps section -->
<section id="stores" class="pt-5">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item icon-store"><i class="store-icon bi bi-shop nav-link disabled pb-0"></i>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active stores-link" id="lisbon-tab" data-bs-toggle="tab" data-bs-target="#lisbon"
                type="button" role="tab" aria-controls="lisbon" aria-selected="true">Lisbon</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link stores-link" id="porto-tab" data-bs-toggle="tab" data-bs-target="#porto"
                type="button" role="tab" aria-controls="porto" aria-selected="false">Porto</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link stores-link" id="faro-tab" data-bs-toggle="tab" data-bs-target="#faro" type="button"
                role="tab" aria-controls="faro" aria-selected="false">Faro</button>
        </li>
    </ul>
    <div class="container p-5 tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="lisbon" role="tabpanel" aria-labelledby="lisbon-tab">
            <div class="row container px-4">
                <div class="col-12 col-md-4 text-center text-secondary  pt-4">
                    <p>Store address</p>
                    <p>800 123 456 | lisbonstore@email.com</p> <br>
                    <a href="#" class="btn btn-outline-secondary mb-4">Shop here</a>
                </div>
                <div class="col-12 col-md-8">
                    <div class="ratio ratio-16x9">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83737.61119491608!2d-9.215552328335466!3d38.742653184856344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a61e4f33b%3A0x400ebbde49036d0!2sLisboa!5e0!3m2!1spt-BR!2spt!4v1644249587568!5m2!1spt-BR!2spt"
                            width="600" height="450" allowfullscreen loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tab-pane fade" id="porto" role="tabpanel" aria-labelledby="porto-tab">
            <div class="row container p-4">
                <div class="row container px-4">
                    <div class="col-12 col-md-4 text-center text-secondary  pt-4">
                        <p>Store address</p>
                        <p>800 123 456 | portostore@email.com</p> <br>
                        <a href="#" class="btn btn-outline-secondary mb-4">Shop here</a>
                    </div>
                    <div class="col-12 col-md-8 ">
                        <div class="ratio ratio-16x9"><iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80811.12479714767!2d-8.678823509202685!3d41.17464691483776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2465abc4e153c1%3A0xa648d95640b114bc!2sPorto!5e0!3m2!1spt-BR!2spt!4v1644249017813!5m2!1spt-BR!2spt"
                                width="600" height="450" allowfullscreen loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tab-pane fade" id="faro" role="tabpanel" aria-labelledby="faro-tab">
            <div class="row container px-4">
                <div class="col-12 col-md-4 text-center text-secondary pt-4">
                    <p>Store address</p>
                    <p>800 123 456 | farostore@email.com</p> <br>
                    <a href="#" class="btn btn-outline-secondary mb-4">Shop here</a>
                </div>
                <div class="col-12 col-md-8">
                    <div class="ratio ratio-16x9">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101940.73243706455!2d-8.009971124782172!3d37.01819571313995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0552e72290faa7%3A0x8d73c2d4494aff5a!2sFaro!5e0!3m2!1spt-BR!2spt!4v1644248137634!5m2!1spt-BR!2spt"
                            width="600" height="450" allowfullscreen loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


    