<!-- coffee products section -->
<section id="products">
    <div class="container">
        <div>
            <h1>Ground Coffee</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id fermentum lorem. Praesent et condimentum
                augue, fringilla pretium turpis. Mauris nec massa eget nisi facilisis tristique. Integer blandit tempus
                ex quis congue. Suspendisse diam ligula, tincidunt eget ipsum nec, luctus convallis dui. Proin enim
                nisl, commodo at odio eget, consectetur porttitor leo. Curabitur laoreet libero tristique est pharetra
                vestibulum. Aliquam aliquet faucibus magna ut lacinia. Nulla a elementum neque.</p>
        </div>
        <div>
            <div class="row">
                <div class="col">
                    <img src="" alt="coffee image">
                </div>
                <div class="col">
                    <ul>
                        <li>Traditional</li>
                        <li>$20.49</li>
                        <li>Store available: lisbon</li>
                    </ul>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path
                                d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path
                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    </div>


</section>