<section>
    <h1>Recipes</h1>
    {{#if recipe}}

    <div>
        {{recipe.image}}
    </div>

    <h1>{{recipe.title}}</h1>
    <p>{{recipe.customer_id}}</p>
    <div>
        <div>{{recipe.content}}</div>
    </div>

    {{/if}}
</section>