
body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    scroll-behavior: smooth;  
}

/* navbar */
.bi-person, .bi-cart , .bi-arrow-up {
    font-size: 1rem;
}

#nav-home {
    z-index: 1;
    background-color: transparent;
}

.menu-link {
    /* rgb(108,117,125) = secondary color */
    color: rgb(108,117,125);
    font-size: 0.9rem;
    font-weight: 700;    
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.ul-nav:hover{    
    color: #1e1e1f !important;  
    border-bottom: solid 1px;
    
}

.last-nav-item{
    margin-right: 100px;
}

/* header background image */
.bg-hero{
    margin-top: -86px;
}

/* back to top button */
.arrow-up{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1;
}

.arrow-up a{
    color:rgb(108,117,125);
}

/* coffee section */
.card-img-overlay {
    display: inline-block;
    text-align: center;    
}

.card-category, .card-product{
    border: none;    
}

.card-border:hover{
    outline:5px solid rgb(108,117,125);
    outline-offset: -5px;
}

#products{
    border-bottom: 1px solid #e3e3e3;
}

/* stores and maps section  */
#stores {
    background-color: #f8f9f9;
    padding: 20px 0 80px;    
}

.stores-link {
    color:rgb(108,117,125);   
}
.stores-link:hover {
    font-weight: bold;
    color:rgb(108,117,125);
}

.tab-content{
    color:#1e1e1f;
}

.store-icon{
    font-size: 1.7rem;
}

.icon-store {
    margin-top: -10px;
}

/* products page */

#categories{    
    margin-bottom: 100px;
}







/* footer */
footer{
    /*background-color:#3d2c1c ;*/
    /*color:#d9cdbf;*/
    background-color:rgb(68, 33, 13);    
    color:rgb(240, 238, 238);    
}

.footer-main p {
    font-size: 0.8rem;
    position: absolute;  
    bottom: 0;
}

.bi-facebook , .bi-instagram , .bi-twitter {
    font-size: 1.5rem;
}


/* private pages */

/* category */
#categories .bi-pencil, .bi-trash {
    font-size: 1rem;

}

/* admin */
.li-div {
    margin-left: 36px;
}

#li-user {
    margin-left: 12px;
}

.li-div-user {
    margin-left: 52px;
}



.nav-item a i {
    font-size: 1.2rem;
}


@media only screen and (min-width: 768px) {
    #logo{
        position: absolute;
        right: 0;
    }
  
}






